<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlexWords.Dialog.Settings.GeneralOptions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlexWords.Dialog.Settings.GeneralOptions>
            <setting name="LastBookPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Workspaces" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBkmark" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdaptiveWordSpacing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdaptiveKerning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastWorkspaceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VerticalOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HorizontalOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Kerning" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WordSpacing" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="LineSpacing" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Indent" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="SetDefaultValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureBkmark" serializeAs="String">
                <value />
            </setting>
            <setting name="UseGoogleTranslate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTranslator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSpellChecker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddPronunciation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSynonyms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCopySelectedText" serializeAs="String">
                <value>True</value>
            </setting>
        </FlexWords.Dialog.Settings.GeneralOptions>
    </userSettings>
</configuration>